.wrapper {
    padding-top: 56px;
    margin-left: 170px;
    font-family: cursive;
    /*background-color: black;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.wrapper span {
    display: block;
}

.wrapperBlock {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 90px;

}
.itemLink {
    color: #97004E;
    font-size: 1.2em;
}
.linkWrap a{
    text-decoration: none;
}
.itemWrap {
    font-size: 1.2em;
}
.imgWrap {

}

.img {
    width: 65%;
}

.itemName {
    font-weight: bold;
    font-size: 1.5em;
}

.selectedPage {
    font-weight: bold;
}

.wrapperSpan {

    text-align: center;
    padding-top: 56px;
    margin-left: 170px;
    font-family: cursive;
    padding-bottom: 86px;
}

.wrapperSpan span {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .wrapperBlock {
        width: 50%;
    }
    .wrapperSpan {
        padding-bottom: 100px;
    }
}

@media only screen and (max-width: 1024px) {
    .wrapperSpan {
        padding-bottom: 140px;
    }
}

@media only screen and (max-width: 414px) {
    .wrapperBlock {
        width: 100%;
    }
    .wrapperSpan {
        padding-bottom: 195px;
        margin-left: 70px;
    }
    .wrapper {
        margin-left: 70px;
    }

}