

.item {
    background-color: #e0e3e5;
    padding-top: 80px;
    padding-bottom: 75px;
    margin-left: 170px;
    font-family: cursive;
}
.btnWrap {
    display: flex;
    justify-content: center;
}
.btn {
    padding: 5px 15px 5px 15px;
}

.input {
    font-size: 0.8em;
    background:transparent;
    border: 1px solid black;
}

.itemWrap {
    display: flex;
    justify-content: left;
    margin: 20px;

}

@media only screen and (max-width: 1920px) {
    .item {
        padding-top: 140px;
    }
.postItem {
    padding-top: 40px;
}
.blockItem {
    padding-top: 50px;
}
}

@media only screen and (max-width: 414px) {
    .item {

        padding-bottom: 85px;
        margin-left: 70px;

    }
}@media only screen and (max-width: 320px) {
    .item {
        margin-left: 70px;
    }
}