.wrapper {
    padding-top: 90px;
    margin-left: 170px;
    font-family: cursive;
    /*background-color: black;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-wrap: wrap;*/
    background-color: #e0e3e5;
}