/*.nav {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    background-color: darkturquoise;*/
/*}*/

/*.item {*/
/*    ;*/
/*}*/

.item{
    border-right: 2px solid darkslategray;
}

.wrap1 {
    z-index: 999;
    position: fixed;
    width: 100%;
    /*margin-top: -60px;*/
}

.userName {
    color: white;
    margin-right: 30px;
}



@media only screen and (max-width: 768px) {
    .logoutBtn {
        width: 10%;
    }
}
@media only screen and (max-width: 414px) {
    .logoutBtn {
        width: 20%;
    }
}

@media only screen and (max-width: 375px) {
    .logoutBtn {
        width: 20%;
    }
}