.wrapper {
    padding-top: 55px;
    margin-left: 170px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.wrapperImg img {

    width: 80%;
}

.wrapperImg {
    display: flex;
    justify-content: center;
}



@media only screen and (max-width: 733px) {
    .wrapperImg img {
        margin-left: 40px;
        width: 130%;
    }


}

@media only screen and (max-width: 414px) {
    .wrapperImg img {
        margin-left: 30px;

    }
}

@media only screen and (max-width: 375px) {
    .wrapperImg img {
        width: 140%;
        margin-left: 70px;
    }
}

@media only screen and (max-width: 320px) {
    .wrapperImg img {
        margin-left: 120px;
    }
}

