.wrapper {
    padding-top: 55px;
    margin-left: 170px;
    font-family: cursive;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapperImg img {

    width: 80%;
}

.wrapperImg {
    display: flex;
    justify-content: center;
}