.wrap {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;

}

.submit {
    padding: 0 8px 0 8px;
    background-color: #555457;
    color: white;
    border: none;
    margin-top: 2px;
}

.submitWrap {
    text-align: right;
    margin-right:  5px;
}